input {
    padding: 0px;
    font-size: 30px;
    border-width: 3px;
    border-color: #4e82be;
    text-align: center;
    background-color: #ffffff;
    color: #4e82be;
    border-style: solid;
    border-radius: 20px;
}